/*

selector {
    propiedad: valor !important;
}

*/

#presentacion {
    min-height: 88vh;
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: url("assets/F3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
#shadow {
    text-shadow: 2px 2px black;
}

.proyecto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#proyecto-1 {
    background-image: url('google.png');
}

#proyecto-2 {
    background-image: url('pagina.png');
}

#proyecto-3 {
    background-image: url('portafolio.png');
}

#proyecto-4 {
    background-image: url('work.jpg');
}

.text-shadow-1 {
    text-shadow: 1px -1px 8px rgba(0, 0, 0, 1);
}

.bg-brand {
    background-color: blueviolet;
}

.text-brand {
    color: blueviolet;
}
#testimonios {
    background-size: auto;
    background-image: url("assets/T1.jpg");
}
